/* CHANNEL LIST COMPONENT */
.channel-view-component {
  .wrap {
    max-width: 960px !important;
  }
  .channel-view-title {
    margin-bottom: 1.5rem;
  }
  .channel-view-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1110px;
    @include breakpoint(tablet, min-width) {
      justify-content: space-evenly;
    }
  }
  .channel-card {
    background: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 32px;
    max-width: 214px;
    height: 82px;
    width: 45%;
    margin-right: 5%;
    overflow: hidden;
    transition: box-shadow 1s;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    &:nth-child(2n + 0) {
      margin-right: 0;
    }
    &:hover {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
      //cursor: pointer;
    }
    @include breakpoint(tablet, min-width) {
      width: 214px;
      margin-right: 24px;
      &:nth-child(2n + 0) {
        margin-right: 24px;
      }
      &:nth-child(4n + 0) {
        margin-right: 0;
      }
    }
    .channel-card-content {
      padding: 0.75rem;
    }
  }
  .row {
    display: flex;
  }
  .icon-container {
    margin-right: 12px;
    width: 30px;
    img {
      max-width: 30px;
    }
    .placeholder {
      background: gray;
      border-radius: 5px;
      height: 30px;
      width: 30px;
    }
  }
  .text-container {
    line-height: 17px;
    position: relative;
    top: -3px;
    .title {
      font-size: var(--base-font-size-smaller);
      color: #2c2c2c;
      font-weight: 700;
      margin: 0;
      text-transform: capitalize;
      a {
        color: inherit;
      }
    }
    .stats {
      font-size: var(--font-down-2);
      font-weight: 300;
    }
  }
}
