.gray-banner-component {
  background: var(--brand-color-gray-200);
  margin-bottom: 1.5rem;
  .wrap {
    max-width: 960px !important;
    padding: 1.5rem 0;
  }
  .card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(tablet, min-width) {
      flex-direction: row;
      justify-content: space-between;
    }
    .card {
      width: 288px;
      min-width: 288px;
      height: 155px;
      background: #fff 0% 0% no-repeat padding-box;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
      border-radius: 10px;
      transition: box-shadow 1s;
      position: relative;
      margin-bottom: 1rem;
      .card-bg {
        background: gray url("https://picsum.photos/id/13/288/61");
        height: 61px;
        border-radius: 10px 10px 0 0;
      }
      .icon-container {
        height: 28px;
        width: 28px;
        position: absolute;
        top: 40px;
        left: 1rem;
        > img {
          border: 1px white solid;
          border-radius: 5px;
          max-width: 100%;
        }
      }
      .text-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        .column {
          .btn {
            display: block;
          }
        }
        .title {
          font-size: var(--font-up-1);
          margin: 0;
          a {
            color: var(--primary);
          }
        }
        .stats {
          font-size: var(--font-down-1);
        }
      }
    }
  }
}
