.gray-banner-component {
  background: var(--brand-color-gray-200);
  margin-bottom: 1.5rem;
  .wrap {
    max-width: 960px !important;
    padding: 1.5rem 0;
  }
  .banner-title {
    font-size: var(--font-up-2);
    margin-bottom: 1rem;
  }
  .card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(tablet, min-width) {
      flex-direction: row;
      justify-content: space-between;
    }
    .card {
      width: 288px;
      min-width: 288px;
      height: 155px;
      background: #fff 0% 0% no-repeat padding-box;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
      border-radius: 10px;
      transition: box-shadow 1s;
      position: relative;
      margin-bottom: 1rem;
      .card-bg {
        background: gray url("https://picsum.photos/id/13/288/61");
        height: 61px;
        border-radius: 10px 10px 0 0;
      }
      .icon-container {
        height: 28px;
        width: 28px;
        position: absolute;
        top: 40px;
        left: 1rem;
        > img {
          border: 1px white solid;
          border-radius: 5px;
          max-width: 100%;
        }
      }
      .text-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        .column {
          .btn {
            display: block;
          }
        }
        .title {
          font-size: var(--font-up-1);
          margin: 0;
          a {
            color: var(--primary);
          }
        }
        .stats {
          font-size: var(--font-down-1);
        }
      }
    }
  }
}

// Banner: Learn with Adobe
.card-list.list-learn-more {
  .card {
    height: 265px;
    min-width: 288px;
    position: relative;
    width: 288px;
    transition: box-shadow 1s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 bottom;
    background-repeat: no-repeat;
    a {
      color: var(--primary);
    }
    &.card-dark-bg {
      color: white;
      a {
        color: white;
      }
      .icon-external-link img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(255deg)
          brightness(106%) contrast(102%);
      }
    }
    &.card-learn {
      background-color: #fdbefc;
      background-image: url($bg-card-learn);
    }
    &.card-help {
      background-color: #a4ecf7;
      background-image: url($bg-card-help);
    }
    &.card-discover {
      background-color: #b8ee92;
      background-image: url($bg-card-discover);
    }
    &.card-behance {
      background-color: #583fd8;
      background-image: url($bg-card-behance);
    }
    &.card-lightroom {
      background-color: #fbeed4;
      background-image: url($bg-card-lightroom);
    }
    &.card-adobe-live {
      background-color: #ff7e06;
      background-image: url($bg-card-adobe-live);
    }
    .icon-external-link {
      height: 20px;
      width: 20px;
      position: absolute;
      right: 20px;
      top: 20px;
    }
    .text-container {
      display: block;
      padding: 20px;
      .title {
        font-size: var(--font-down-1);
        margin: 0;
      }
      p {
        font-size: var(--font-down-1);
      }
    }
    small {
      position: absolute;
      bottom: 10px;
    }
  }
}
