/* TYPOGRAPHY */

// FONTS
@font-face {
    font-family: "adobe-clean";
    src: url($font-adobe-clean) format("opentype");
}


html {
    font-size: 16px;
}

html, h1, h2, h3, h4, h5, h6 {
    font-family: "adobe-clean", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Cambria, sans-serif;
}