{{#if this.isHomepage}}
  <h1>This is my homepage HTML content</h1>

  {{#if this.categories}}
    {{#each this.categories as |category|}}
        <p>{{category.name}}<p>
    {{/each}}
  {{/if}}

{{/if}}