<section id="rc-stats" class="rc-custom-section">
  <h3 class="rc-heading">Community stats</h3>
  <div class="row">
    <div class="column col-1">
      <div class="stat-value">
        1,014
      </div>
      <div class="stat-key">
        New from last month
      </div>
    </div>
    <div class="column col-2">
      <div class="stat-value">
        117,354
      </div>
      <div class="stat-key">
        Conversations
      </div>
    </div>
  </div>
</section>
<section id="rc-resources" class="rc-custom-section">
  <h3 class="rc-heading">Resources</h3>
  <ul>
    <li>Quick links - Photoshop</li>
    <li>Quick links - Photoshop Mobile</li>
    <li>Troubleshoot & Learn new things</li>
  </ul>
</section>
<section id="rc-related-categories" class="rc-custom-section">
  <h3 class="rc-heading">Related Communities</h3>
  <ul>
    <li>
      <div class="related-card">
        <div class="row">
          <div class="column col-1">
            <img
              loading="lazy"
              src="https://community.adobe.com/html/@05E1093EA3235DB489912D2F08F18933/assets/icons/lightroom.svg"
              class="related-communities-card__icon-size"
              alt="Lightroom ecosystem (Cloud-based)"
            />
          </div>
          <div class="column col-2">
            <div class="card-title">
              <a
                title="Lightroom ecosystem (Cloud-based)"
                href="/t5/lightroom-ecosystem-cloud-based/ct-p/ct-lightroom"
              >
                <p class="board_name_title">Lightroom ecosystem (Cloud-based)</p>
              </a>
            </div>
            <div class="card-subtitle">
              22,565 conversations
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>