// BASE
@import "variables";
@import "typography";

// UI/COMPONENTS
@import "channel-list";
@import "search-banner";

html {
    font-size: 16px;
}

// MISC
// Hide the posts/views/activity table columns
.topic-list .posters {
    width: 30px;
}

// TYPOGRAPHY
html, h1, h2, h3, h4, h5, h6 {
    font-family: "adobe-clean", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Cambria, sans-serif;
}

// BUTTONS
.btn {
    color: var(--button-text-color-dark);
    font-size: 1rem;
    font-weight: 700;
    height: 30px;
    .d-icon {
        color: inherit;
    }
}

.btn-default,
.btn-primary {
    background: var(--spectrum-global-color-static-blue-600);
    border-radius: var(--d-nav-pill-border-radius);
    color: var(--button-text-color-light);
    padding: 0.5rem 1rem;
    &:hover {
        background: var(-spectrum-global-color-static-blue-700);
    }
}
.btn.login-button {
    background: transparent;
    border: 2px var(--spectrum-global-color-static-gray-700) solid;
    color: var(--spectrum-global-color-static-gray-700);
}

.nav-pills > li {
    align-items: center;
    > a {
        @extend .btn;
    }
}
.nav-pills>li a {
    background: transparent;
    color: var(--text-color);
}
.nav-pills>li a.active, 
.nav-pills>li button.active {
    background: var(--spectrum-global-color-static-gray-300);
    color: var(--text-color);
}

.d-header-mode .bootstrap-mode {
    background: var(--spectrum-global-color-static-gray-300);
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

// HEADER 
.d-header {
    box-shadow: none;
}
.d-header #site-logo {
    height: 24px;
}

.d-header .header-buttons {
    margin-top: 0;
}

.d-header-icons {
    .icon {
        color: var(---header-icon-color);
        width: var(--font-up-2);
        height: var(--font-up-2);
        img.avatar {
            width: var(--font-up-2);
            height: var(--font-up-2);
        }
    }
    .d-icon {
        color: var(--header-icon-color);
        font-size: var(--font-up-2);
    }
}

// TOPIC-LIST
.topic-list a.title {
    color: var(--primary);
    font-size: var(--font-down-1);
    font-weight: 700;
}
.topic-list-item.visited .topic-list-data a.title:not(.badge-notification), 
.latest-topic-list-item.visited a.title:not(.badge-notification), 
.category-topic-link.visited a.title:not(.badge-notification) {
    color: var(--primary);
}

// TAGS
.discourse-tag {
    border: 1px #ccc solid;
    border-radius: 15px;
    padding: 2px 8px;
    line-height: 100%;
}

// TABLES 
tr {
    color: var(--primary); 
}

// RIGHT SIDE COMPONENT
.rs-component {
    h3 {
        border-bottom: 0;
        padding-bottom: 0;
    }
    .badge-category__wrapper {
        color: var(--primary); 
    }
}


// CATEGORY TITLE HEADER (custom component)
div[class^=category-title-header] { 
    background: var(--spectrum-global-color-static-gray-300) !important;
    color: var(--primary) !important;
    padding: 1.75rem 0;
    div[class^=category-title-header] .category-title-contents {
        max-width: var(--d-max-width);
        margin-right: auto;
        margin-left: auto;
        padding: 0 var(--d-wrap-padding-h);
        .category-logo {
            max-height: 48px;
        }
    } 
}

