@import "variables";

// FONTS
@font-face {
    font-family: "adobe-clean";
    src: url($font-adobe-clean) format("opentype");
}


html {
    color: var(--text-color);
    font-size: 16px;
}

// MISC
// Hide the posts/views/activity table columns
.topic-list .posters {
    width: 30px;
}

// TYPOGRAPHY
html, h1, h2, h3, h4, h5, h6 {
    font-family: "adobe-clean", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Cambria, sans-serif;
}

// BUTTONS
.btn {
    color: var(--button-text-color-dark);
    font-size: 1rem;
    font-weight: 700;
    height: 30px;
    .d-icon {
        color: inherit;
    }
}

.btn-default,
.btn-primary {
    background: var(--spectrum-global-color-static-blue-600);
    border-radius: var(--d-nav-pill-border-radius);
    color: var(--button-text-color-light);
    padding: 0.5rem 1rem;
    &:hover {
        background: var(-spectrum-global-color-static-blue-700);
    }
}
.btn.login-button {
    background: transparent;
    border: 2px var(--spectrum-global-color-static-gray-700) solid;
    color: var(--spectrum-global-color-static-gray-700);
}

.nav-pills > li {
    align-items: center;
    > a {
        @extend .btn;
    }
}
.nav-pills>li a {
    background: transparent;
    color: var(--text-color);
}
.nav-pills>li a.active, 
.nav-pills>li button.active {
    background: var(--spectrum-global-color-static-gray-300);
    color: var(--text-color);
}

.d-header-mode .bootstrap-mode {
    background: var(--spectrum-global-color-static-gray-300);
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

// HEADER 
.d-header {
    box-shadow: none;
}
.d-header #site-logo {
    height: 24px;
}

.d-header .header-buttons {
    margin-top: 0;
}

.d-header-icons {
    .icon {
        color: var(---header-icon-color);
        width: var(--font-up-2);
        height: var(--font-up-2);
        img.avatar {
            width: var(--font-up-2);
            height: var(--font-up-2);
        }
    }
    .d-icon {
        color: var(--header-icon-color);
        font-size: var(--font-up-2);
    }
}

// TOPIC-LIST
.topic-list a.title {
    color: var(--primary);
    font-size: var(--font-down-1);
    font-weight: 700;
}
.topic-list-item.visited .topic-list-data a.title:not(.badge-notification), 
.latest-topic-list-item.visited a.title:not(.badge-notification), 
.category-topic-link.visited a.title:not(.badge-notification) {
    color: var(--primary);
}

// TAGS
.discourse-tag {
    border: 1px #ccc solid;
    border-radius: 15px;
    padding: 2px 8px;
    line-height: 100%;
}

// TABLES 
tr {
    color: var(--primary); 
}

// RIGHT SIDE COMPONENT
.rs-component {
    h3 {
        border-bottom: 0;
        padding-bottom: 0;
    }
    .badge-category__wrapper {
        color: var(--primary); 
    }
}

// BANNER (Custom search)
.search-banner {
    margin-bottom: 2rem;
}
.custom-search-banner {
    background: #c49dfe url($bg-search-main);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    height: 250px;
    h1 {
        font-size: 28px;
        margin-bottom: 28px;
    }
    p {
        margin: 1rem 0 0;
    }
    .search-menu {
        max-width: 408px;
    }
    .search-input {
        height: 33px;
        border: none;
        padding: 0 2rem 0 1rem;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 1px 4px rgba(0,0,0,0.35);
        border-radius: 16px;
        opacity: 1;    
        ::placeholder {
            color: var(--spectrum-global-color-static-gray-600);
            font-style: italic;
        }
    }
    .stats-strip {
        display: flex;
        font-size: var(--font-down-1);
        justify-content: center;
        .stats-label + .stats-label {
            margin-left: 1.5rem;
        }
    }
    // item positioning hackery
    .custom-search-banner-wrap {
        display: flex;
        flex-direction: column;
        :nth-child(1){
            order: 1
        }
        :nth-child(2) {
            order: 3;
        }
        :nth-child(3) {
            margin: initial;
            order: 2;
        }
    }
}

// CATEGORY TITLE HEADER (custom component)
.category-title-header {
    background: var(----spectrum-global-color-static-gray-300) !important;
    color: var(--primary) !important;
    padding: 1.75rem 0;
    .category-title-contents {
        max-width: var(--d-max-width);
        margin-right: auto;
        margin-left: auto;
        padding: 0 var(--d-wrap-padding-h);
        .category-logo {
            max-height: 48px;
        }
    } 
}